@font-face {
  font-family: halvar;
  src: url("../../fonts/HalvarBreit-Md.ttf");
}
@font-face {
  font-family: halvar-reg;
  src: url("../../fonts/HalvarBreit-Rg.ttf");
}
* {
  font-family: halvar;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  background-color: #F5F5F5;
}

.carousel-first {
  display: flex;
  height: 288px;
  margin-top: 66px;
  padding-top: 20px;
  width: 100%;
  overflow: auto;
}
.carousel-first::-webkit-scrollbar {
  display: none;
}
.carousel-first .test {
  position: absolute;
}
.carousel-first img {
  cursor: pointer;
  width: 436px;
  height: 268px;
  margin: 0 14px;
  transition: 0.4s;
}
.carousel-first img:hover {
  transform: translateY(-7px);
}

.carousel-second {
  display: flex;
  margin-top: 76px;
  width: 100%;
  overflow: auto;
}
.carousel-second::-webkit-scrollbar {
  display: none;
}
.carousel-second .img-container {
  position: relative;
  min-width: 436px;
  height: 268px;
  margin: 0 14px;
  cursor: pointer;
}
.carousel-second .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0s;
}
.carousel-second .img-container:hover .satur {
  opacity: 0;
  visibility: hidden;
}

.wrapper-top {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 75px;
  padding-top: 38px;
}
.wrapper-top nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-top nav .logo {
  cursor: pointer;
  width: 218px;
  height: 48px;
  margin-right: 110px;
}
.wrapper-top nav .menu {
  display: flex;
}
.wrapper-top nav .menu li {
  line-height: 17px;
}
.wrapper-top nav .menu li a {
  text-transform: uppercase;
  margin-right: 67px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}
.wrapper-top nav .menu li a:hover {
  color: red;
}
.wrapper-top nav .menu li:hover > ul {
  opacity: 1;
  visibility: initial;
}
.wrapper-top nav .menu li .a-right {
  margin-right: 131px;
}
.wrapper-top nav .menu li .menu-container {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  background: rgba(245, 245, 245, 0.1);
  border: 1px solid #EEEEEE;
  box-shadow: 0px 5px 15px rgba(86, 72, 70, 0.05);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  border-radius: 11px;
  padding: 10px 22px;
  line-height: 32px;
  position: absolute;
  top: 87.5px;
  transition: 0.5s;
}
.wrapper-top nav .menu li .menu-container li {
  padding-top: 3px;
  padding-bottom: 3px;
}
.wrapper-top nav .nav-about-us {
  left: 403px;
  opacity: 0;
  visibility: hidden;
}
.wrapper-top nav .nav-about-us li a {
  font-family: halvar-reg;
  text-transform: none;
  margin: 0;
}
.wrapper-top nav .nav-boats {
  left: 522px;
  opacity: 0;
  visibility: hidden;
}
.wrapper-top nav .nav-boats li a {
  font-family: halvar-reg;
  text-transform: none;
  margin: 0;
}
.wrapper-top nav .nav-howBuy {
  left: 790px;
  opacity: 0;
  visibility: hidden;
}
.wrapper-top nav .nav-howBuy li a {
  font-family: halvar-reg;
  text-transform: none;
  margin: 0;
}
.wrapper-top nav span {
  font-size: 16px;
}
.wrapper-top .boat-information {
  margin-top: 76px;
  margin-left: 2px;
  display: flex;
}
.wrapper-top .boat-information .left-side {
  min-width: 743px;
  max-width: 743px;
}
.wrapper-top .boat-information .left-side .main-image {
  position: relative;
  cursor: pointer;
  height: 414px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.01);
  border-radius: 30px;
  overflow: hidden;
}
.wrapper-top .boat-information .left-side .main-image .mainImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.wrapper-top .boat-information .left-side .img-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 13px;
}
.wrapper-top .boat-information .left-side .img-line .image-card {
  cursor: pointer;
  width: 240px;
  height: 123px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.01);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.wrapper-top .boat-information .left-side .img-line .image-card .smallImage {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.wrapper-top .boat-information .left-side .stats-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.wrapper-top .boat-information .left-side .stats-line .stat-card {
  border-left: 1px solid #000000;
  width: 241px;
  height: 53px;
  position: relative;
  padding-left: 15px;
}
.wrapper-top .boat-information .left-side .stats-line .stat-card span {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  top: -4px;
  left: 16px;
}
.wrapper-top .boat-information .left-side .stats-line .stat-card p {
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  bottom: -8px;
}
.wrapper-top .boat-information .right-side {
  margin-left: 47px;
  padding-left: 7px;
}
.wrapper-top .boat-information .right-side h1 {
  margin-top: -25px;
  font-weight: 500;
  font-size: 44px;
  line-height: 94px;
  margin-left: -7px;
}
.wrapper-top .boat-information .right-side .boat-character {
  height: 84px;
  margin-top: 25px;
  margin-left: 4px;
}
.wrapper-top .boat-information .right-side .boat-character .names {
  display: flex;
  align-items: center;
}
.wrapper-top .boat-information .right-side .boat-character .names span {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  margin-right: 78px;
}
.wrapper-top .boat-information .right-side .boat-character .names .last-in-names {
  margin-right: 61px;
}
.wrapper-top .boat-information .right-side .boat-character .character {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.wrapper-top .boat-information .right-side .boat-character .character p {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.wrapper-top .boat-information .right-side .boat-character .character .center {
  margin-left: 58px;
}
.wrapper-top .boat-information .right-side .boat-character .character img {
  margin-left: 64px;
}
.wrapper-top .boat-information .right-side .boat-description {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 7px;
}
.wrapper-top .boat-information .right-side .next-page {
  margin-top: 20px;
}
.wrapper-top .boat-information .right-side .next-page a {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  color: #E6332A;
}
.wrapper-top .boat-information .right-side .next-page svg {
  cursor: pointer;
  margin-bottom: 1px;
  margin-left: 6px;
}
.wrapper-top .boat-information .right-side .boat-cost {
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  margin-top: 79px;
}
.wrapper-top .boat-information .right-side .base-cost {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 7px;
}
.wrapper-top .boat-information .right-side .btns {
  display: flex;
  align-items: center;
  margin-top: 33px;
}
.wrapper-top .boat-information .right-side .btns .callMe {
  color: white;
  font-weight: 400;
  letter-spacing: 0.38px;
  background: #E6332A;
  border: 1px solid #E6332A;
}
.wrapper-top .boat-information .right-side .btns .callMe:hover {
  background: #000;
  border: 1px solid #000;
}
.wrapper-top .boat-information .right-side .btns .config {
  border: 1px solid #000000;
  margin-left: 10px;
}
.wrapper-top .boat-information .right-side .btns .config:hover {
  background: #fff;
}
.wrapper-top .boat-information .right-side .btns button {
  cursor: pointer;
  width: 240px;
  height: 53px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  border-radius: 19px;
  transition: 0.3s;
}

.wrapper-middle {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 75px;
  margin-top: 81px;
}
.wrapper-middle .text {
  text-transform: uppercase;
  color: #BABABA;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  top: 6px;
  left: 77px;
}
.wrapper-middle .choice-description {
  max-width: 1111px;
  margin-left: 90px;
  border-bottom: 1px solid #DCDCDC;
  position: relative;
}
.wrapper-middle .choice-description .choice-wrapper {
  margin-left: 346px;
  width: 744px;
  height: 280px;
}
.wrapper-middle .choice-description .choice-wrapper .text-fl {
  text-transform: uppercase;
  color: #BABABA;
  font-size: 10px;
  line-height: 12px;
  top: 2px;
  right: 0;
  position: absolute;
}
.wrapper-middle .choice-description .choice-wrapper .slogan {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
}
.wrapper-middle .choice-description .choice-wrapper .slogan-text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 32px;
  margin-left: 1px;
}
.wrapper-middle .block-opener {
  max-width: 1111px;
  margin-left: 90px;
  border-bottom: 1px solid #DCDCDC;
  position: relative;
}
.wrapper-middle .block-opener .opener-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 347px;
  padding-bottom: 20px;
}
.wrapper-middle .block-opener .opener-wrapper .title-1 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.wrapper-middle .block-opener .opener-wrapper .red-dot {
  margin-left: 18px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: red;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.wrapper-middle .block-opener .opener-wrapper svg {
  position: relative;
  right: -14px;
  cursor: pointer;
  rotate: -90deg;
  transition: 0.2s;
}
.wrapper-middle .block-opener .opener-wrapper .checker {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.wrapper-middle .block-opener .shadow-text {
  margin-top: 5px;
  height: 0;
  overflow-y: hidden;
  transition: 1.2s;
  margin-bottom: 0;
}
.wrapper-middle .block-opener .shadow-text .shadow {
  margin-left: 347px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 518;
  overflow-y: hidden;
  transition: 1.2s;
}

.boat {
  position: relative;
  width: 996px;
  margin: 0 auto;
  margin-top: 180px;
}
.boat .card {
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0px 5px 15px rgba(86, 72, 70, 0.05);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 0 40px;
  padding-top: 26px;
}
.boat .card .card-text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}
.boat .point {
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  background-color: #E6332A;
  border: 3px solid #FFFFFF;
}
.boat .card-text {
  margin-bottom: 14px;
}
.boat .point-seat {
  position: absolute;
  bottom: 228px;
  right: 495px;
}
.boat .point-seat .card-pos {
  position: absolute;
  bottom: 56px;
  left: 20px;
}
.boat .point-seat .card-pos .seat-card {
  width: 405px;
  height: 105px;
  opacity: 0;
  transition: 0.2s;
  display: none;
}
.boat .point-seat:hover {
  position: absolute;
}
.boat .point-seat:hover .card-pos {
  position: absolute;
}
.boat .point-seat:hover .card-pos .seat-card {
  opacity: 1;
  display: block;
}
.boat .point-anchor {
  position: absolute;
  bottom: 155px;
  right: 79px;
}
.boat .point-anchor .card-pos-anchor {
  position: absolute;
  bottom: -50px;
  left: 60px;
}
.boat .point-anchor .card-pos-anchor .seat-card {
  width: 388px;
  height: 307px;
  padding: 20px 40px 20px;
  opacity: 0;
  transition: 0.2s;
  display: none;
}
.boat .point-anchor:hover {
  position: absolute;
}
.boat .point-anchor:hover .card-pos-anchor {
  position: absolute;
}
.boat .point-anchor:hover .card-pos-anchor .seat-card {
  opacity: 1;
  display: block;
}
.boat .point-runduk {
  position: absolute;
  bottom: 147px;
  right: 169px;
}
.boat .point-runduk .card-pos-runduk {
  position: absolute;
  bottom: -120px;
  left: 30px;
}
.boat .point-runduk .card-pos-runduk .seat-card {
  width: 388px;
  height: 307px;
  padding: 20px 40px 20px;
  opacity: 0;
  transition: 0.2s;
  display: none;
}
.boat .point-runduk:hover {
  position: absolute;
}
.boat .point-runduk:hover .card-pos-runduk {
  position: absolute;
}
.boat .point-runduk:hover .card-pos-runduk .seat-card {
  opacity: 1;
  display: block;
}
.boat .point-comp {
  position: absolute;
  bottom: 155px;
  right: 387px;
}
.boat .point-comp .card-pos-comp {
  position: absolute;
  top: 50px;
  right: -320px;
}
.boat .point-comp .card-pos-comp .seat-card {
  width: 388px;
  height: 307px;
  padding: 20px 40px 20px;
  opacity: 0;
  transition: 0.2s;
  display: none;
}
.boat .point-comp:hover {
  position: absolute;
}
.boat .point-comp:hover .card-pos-comp {
  position: absolute;
}
.boat .point-comp:hover .card-pos-comp .seat-card {
  opacity: 1;
  display: block;
}
.boat .point-central {
  position: absolute;
  bottom: 147px;
  right: 568px;
}
.boat .point-central .card-pos-central {
  position: absolute;
  top: 50px;
  left: -320px;
}
.boat .point-central .card-pos-central .seat-card {
  width: 388px;
  height: 307px;
  padding: 20px 40px 20px;
  opacity: 0;
  transition: 0.2s;
  display: none;
}
.boat .point-central:hover {
  position: absolute;
}
.boat .point-central:hover .card-pos-central {
  position: absolute;
}
.boat .point-central:hover .card-pos-central .seat-card {
  opacity: 1;
  display: block;
}
.boat .point-back {
  position: absolute;
  bottom: 202px;
  right: 744px;
}
.boat .point-back .card-pos-back {
  position: absolute;
  bottom: -120px;
  right: 60px;
}
.boat .point-back .card-pos-back .seat-card {
  width: 388px;
  height: 307px;
  padding: 20px 40px 20px;
  opacity: 0;
  transition: 0.2s;
  display: none;
}
.boat .point-back:hover {
  position: absolute;
}
.boat .point-back:hover .card-pos-back {
  position: absolute;
}
.boat .point-back:hover .card-pos-back .seat-card {
  opacity: 1;
  display: block;
}

.body-size {
  overflow: hidden;
}
.body-size .wrapper-bottom {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 160px;
}
.body-size .wrapper-bottom .information {
  position: relative;
  display: flex;
  padding-bottom: 110px;
}
.body-size .wrapper-bottom .information .title {
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
  margin-bottom: 49px;
  text-transform: uppercase;
}
.body-size .wrapper-bottom .information .block {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  font-weight: 518;
  margin-bottom: 32px;
  position: relative;
  z-index: 5;
}
.body-size .wrapper-bottom .information .technical-info {
  width: 520px;
  margin-left: 222px;
  margin-right: 65px;
  height: 709px;
}
.body-size .wrapper-bottom .information .equipment {
  padding-left: 68px;
  margin-right: 216px;
  border-left: 1px solid #000;
  position: relative;
  z-index: 3;
}
.body-size .wrapper-bottom .information .equipment .bg {
  position: absolute;
  left: 95px;
  top: 12px;
  z-index: 0;
}

.bot-btns {
  text-align: center;
}
.bot-btns .boat-cost {
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
}
.bot-btns .base-cost {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 7px;
}
.bot-btns .btns {
  margin-top: 49px;
}
.bot-btns .btns .call2 {
  color: white;
  font-weight: 400;
  letter-spacing: 0.38px;
  background: #E6332A;
  border: 1px solid #E6332A;
}
.bot-btns .btns .call2:hover {
  background: #000;
  border: 1px solid #000;
}
.bot-btns .btns .config {
  border: 1px solid #000000;
  margin-left: 5px;
}
.bot-btns .btns .config:hover {
  background: #fff;
}
.bot-btns .btns button {
  cursor: pointer;
  width: 240px;
  height: 53px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  border-radius: 19px;
  transition: 0.3s;
}

.footer-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 150px;
}
.footer-wrapper .footer {
  background-image: url("../../images/footer.png");
  width: 1440px;
  height: 384px;
  position: relative;
  bottom: 0;
}
.footer-wrapper .footer img {
  position: relative;
  top: -86px;
  left: 640px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.footer-wrapper .footer img:hover {
  rotate: 92deg;
}
.footer-wrapper .footer .dealer {
  position: absolute;
  top: 55px;
  left: 76px;
}
.footer-wrapper .footer .dealer h2 {
  font-size: 26px;
  line-height: 45px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
.footer-wrapper .footer .dealer p {
  color: #FDCAC7;
  text-transform: none;
  font-size: 14px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-weight: 500;
}
.footer-wrapper .footer .title {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  text-transform: none;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 21px;
}
.footer-wrapper .footer a {
  color: #FDCAC7;
  text-transform: none;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-weight: 500;
  transition: 0.1s;
}
.footer-wrapper .footer a:hover {
  color: white;
}
.footer-wrapper .footer .footer-about-us {
  position: absolute;
  top: 66px;
  left: 546px;
  width: 146px;
  height: 205px;
}
.footer-wrapper .footer .footer-boats {
  position: absolute;
  top: 66px;
  left: 839px;
  width: 101px;
  height: 205px;
}
.footer-wrapper .footer .footer-clients {
  position: absolute;
  top: 66px;
  right: 290px;
  width: 104px;
  height: 165px;
}
.footer-wrapper .footer .footer-contacts {
  position: absolute;
  top: 66px;
  right: 76px;
  width: 108px;
  height: 125px;
}
.footer-wrapper .footer .rights {
  color: #FDCAC7;
  text-transform: none;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 305px;
  right: 68px;
}
.footer-wrapper .footer .links-bar {
  width: 224px;
  height: 44px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  bottom: 54px;
  left: 77px;
}
.footer-wrapper .footer .links-bar svg {
  cursor: pointer;
}
.footer-wrapper .footer .links-bar svg:hover .bg {
  fill: #FFEAE9;
}

.popup-modal {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.popup {
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 708px;
  height: 801px;
  background: rgba(255, 255, 255, 0.48);
  -webkit-backdrop-filter: blur(36.5px);
          backdrop-filter: blur(36.5px);
  border-radius: 55px;
  margin: 0 auto;
  padding: 92px 114px 113px;
  text-align: center;
  z-index: 8;
  transition: 0.7s;
}
.popup .title {
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;
  margin: 0 auto;
}
.popup .text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 518;
  font-style: normal;
  text-transform: none;
  font-weight: 518;
  font-size: 16px;
  line-height: 26.5px;
  margin-top: 6px;
  margin-bottom: 18px;
}
.popup .callback-form {
  text-align: left;
}
.popup .callback-form .input-name {
  text-transform: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 3px;
  color: #344054;
}
.popup .callback-form .short-input {
  width: 480px;
  height: 48px;
  border-radius: 8px;
  background: white;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  margin-bottom: 23px;
  outline: none;
  padding: 5px 20px;
  text-transform: none;
}
.popup .callback-form .input-l {
  resize: none;
  width: 480px;
  height: 128px;
  background: white;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-bottom: 26px;
  outline: none;
  padding: 10px 20px;
  text-transform: none;
}
.popup .callback-form .label {
  display: flex;
  cursor: pointer;
}
.popup .callback-form .label .check {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  display: inline;
  margin-right: 12px;
  position: relative;
}
.popup .callback-form .label .check:before {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #AEAEAE;
  top: 2px;
  left: 2px;
  border-radius: 4px;
  opacity: 0;
  transition: 0.2s;
}
.popup .callback-form .label .checker:checked + .check::before {
  opacity: 1;
}
.popup .callback-form .label .personal-check, .popup .callback-form .label a {
  color: #344054;
  text-transform: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 3px;
}
.popup .callback-form .label .personal-check a, .popup .callback-form .label a a {
  text-decoration: underline;
}
.popup .callback-form .sendForm {
  cursor: pointer;
  background: #1C1C1C;
  border: 1px solid #1C1C1C;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 39px;
  width: 480px;
  height: 48px;
  margin-top: 29px;
  color: white;
  text-transform: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bigImage {
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 0.1s;
}
.bigImage .overlay {
  position: fixed;
  z-index: 500;
}
.bigImage .imgContainer {
  width: 872px;
  height: 536px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bigImage .imgContainer .openedImg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 2;
  opacity: 0;
  transition: 0.15s;
}/*# sourceMappingURL=style(fl-55).css.map */